<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录页面</title>
<script type="text/javascript" src="/js/jquery-1.11.1.min.js" ></script>
</head>
<body>
<h3>登录</h3>
<h3 th:text="${msg}" style="color: red"></h3>

<form method="post" action="login">
	用户名:<input id="uid" type="text" name="name"/><br/>
	密码：<input id="pid" type="password" name="password"/><br/>
	<input id="btn" type="button" value="登录"/>
</form>


<script>
	//绑定单击事件
	/*document.getElementById("btn").onclick = function () {
		var url = "/?keyword=" + document.getElementById("txtKeyword").value;
		//跳转到url地址
		window.location.href=url;
	}*/



	$("#btn").click(function () {

		let userName = $("#uid").val();
		let passWord = $("#pid").val();

		console.log(userName);
		console.log(passWord);

		let loginDto = {userName: userName, passWord: passWord, rememberMe: false};

		$.ajax({
			url: "/login",
			type: "POST",
			datType: "text",
			contentType: "application/json",
			data: {
				loginDto: JSON.stringify(loginDto)
			},
			async: false,
			beforeSend: function () {
				// 禁用按钮防止重复提交
				$("#btn").attr({disabled: "disabled"});
			},
			success: function () {
				console.info("success!");
				window.location.href = "/index";
			},
			complete: function () {
				$("#btn").removeAttr("disabled");
			},
			error: function (data) {
				console.info("error: " + data.responseText);
			}
		})
	})


</script>

</body>
</html>